<img src="/static/images/nature.jpg">

<h2>
  Read the latest from one of the world's premiere science journals
</h2>

<button id="scrape">Scrape</button>

<script type="text/javascript">

  $("#scrape").on("click", function() {
    $.get("/scrape", function(data) {
      console.log(data);
    });
  });

</script>